/* GENERAL */

:root {
  font-size: 65%; /* Basis: 10px */
  background-color: #ecf5ff;
}

@media (max-width: 768px) {
  :root {
    font-size: 50%; /* Basis: 8px */
  }
}

@media (min-width: 1200px) {
  :root {
    font-size: 75%; /* Basis: 12px */
  }
}
@media (max-width: 768px) {
  .top-right-logo {
    width: clamp(40px, 15vw, 80px); /* Kleinere Größe für kleine Bildschirme */
  }
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

h1 {
  font-size: clamp(2rem, 5vw, 5.4rem); /* Dynamische Größe */
  color: #56a5eb;
  margin-bottom: 5rem;
}

h2 {
  font-size: clamp(1.8rem, 4vw, 4.2rem); /* Dynamische Größe */
  margin-bottom: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

/* UTILITIES */

.container {
  width: 90%;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

/* BUTTONS */

.btn {
  font-size: clamp(1rem, 2.5vw, 1.8rem);
  padding: 1rem 2rem;
  width: clamp(10rem, 50%, 20rem);
  text-align: center;
  border: 0.1rem solid #56a5eb;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #56a5eb;
  background-color: white;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

/* FORMS */

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 1rem;
  width: 90%;
  max-width: 20rem;
  padding: 1rem;
  font-size: clamp(1rem, 2vw, 1.8rem);
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

input::placeholder {
  color: #aaa;
}
